.docText-final {
    margin-bottom: 0;
}

.docs-doc-id-configure\/reference\/kv-configure-reference .main-wrapper .container {
  max-width: 100% !important;
}

.docs-doc-id-configure\/reference\/kv-configure-reference .main-wrapper .container>.row>div {
  max-width: 100% !important;
}

