content/openriak-kv/metadata/*/.json filter=lfs diff=lfs merge=lfs -text
content/openriak-kv/metadata/3.4.0/kv-cli-commands.json filter=lfs diff=lfs merge=lfs -text
content/openriak-kv/metadata/3.4.1/kv-cli-commands.json filter=lfs diff=lfs merge=lfs -text
