{{- $product := partial "product-context.html" . -}}
{{- $version := $product.version -}}
{{- $context := dict
  "page" .
  "product" $product
  "version" $version
  "versionData" (index $product.versions $version)
  "brand" (partial "brand-for-version.html" (dict "page" . "version" $version))
-}}
{{ partial "sidebar-shell.html" (dict
  "class" "docs-sidebar"
  "label" "Documentation navigation"
  "context" $context
  "toolsPartial" "docs-sidebar-tools.html"
  "treePartial" "docs-sidebar-tree.html"
  "showVersion" true
  "showOS" true
  "showSearch" true
  "showTree" true
  "showScrim" true
) }}
