.wrapper {
  position: relative;
  display: inline-block;
}

.code {
  background-color: var(--ifm-code-background);
  color: var(--ifm-code-color);
  padding: 0.1em 0.4em;
  border-radius: var(--ifm-code-border-radius);
  font-family: var(--ifm-font-family-monospace);
  font-size: 0.85em;
  white-space: pre-wrap;
}

.copyButton {
  position: absolute;
  top: -0.8em;
  right: -1em;
  opacity: 0;
  transition: opacity 0.2s ease;
/*  background: none; */
    background-color: white;
    color: var(--ifm-code-color);
    padding: 0.1em 0.4em;
    border-radius: var(--ifm-code-border-radius);
    font-family: var(--ifm-font-family-monospace);
    font-size: 85%;
    white-space: pre-wrap;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.25em;
  font-size: 1.1em;
  color: var(--ifm-color-emphasis-700);
}

.wrapper:hover code {
  border-color: darkgray;
}

.wrapper:hover .copyButton {
  opacity: 1;
}

.icon {
  stroke: var(--ifm-color-emphasis-700);
  transition: stroke 0.2s;
}

.iconCopied {
  stroke: var(--ifm-color-success);
}

