{{- $page := . -}}
{{- $archiveHome := .FirstSection -}}
{{- $threads := where site.RegularPages "Section" "archived-mailing-list" -}}
{{- $years := $threads.GroupByDate "2006" "desc" -}}
{{- $context := dict
  "page" $page
  "archiveHome" $archiveHome
  "threads" $threads
  "years" $years
  "newestYear" ((index $years 0).Key)
  "pageYear" (printf "%v" (.Params.archive_year | default ""))
  "categoryHome" (site.GetPage "/archived-mailing-list/categories")
  "dateHomeURL" (printf "%sby-date/" $archiveHome.RelPermalink)
  "categoryHomeURL" (printf "%scategories/" $archiveHome.RelPermalink)
-}}
{{ partial "sidebar-shell.html" (dict
  "class" "blog-menu mailing-list-menu"
  "label" "Mailing-list archive menu"
  "context" $context
  "toolsPartial" "mailing-list-sidebar-tools.html"
  "treePartial" "mailing-list-sidebar-tree.html"
  "showSearch" true
  "showTree" true
) }}
